.body {
    background-color: pink;
}

.example {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}

.text {
    justify-content: center;
    display: flex;
}

.center {
    justify-content: center;
    display: flex;
}

.colum-login {
    max-width: 84%;
}

.card-body {
    padding: 0 !important;
}

.bg-white {
    background-color: white;
}

.left {
    float: left;
    width: 570px;
    height: auto;
    background-image: url("./lotso4.jpg");
    background-position: center;
    background-size: cover;
}

.right {
    float: right;
    height: auto;
    width: 570px;
}

.form-login {
    justify-content: center;
}

.p-0 {
    padding: 40px 30px !important;
    margin: 0 auto;
}

.text {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.p-5 {
    padding: 10px;
}

.w-100 {
    width: 80%;
}

.input-login {
    border-radius: 40px;
    border: 1px #6e707e solid;
    padding: 12px 15px;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 30px;
    font-size: 12px;
}

.btn-login {
    background-color: #4e73df;
    color: white;
    text-align: center;
    margin-left: 30px;
    border: none;
    font-size: .8rem;
    border-radius: 10rem;
    padding: 12px 165px;
    margin-top: 15px;
}

.cb_remember {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-gg {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    text-align: center;
    margin-left: 31px;
    border: none;
    font-size: .8rem;
    border-radius: 10rem;
    padding: 11px 121px;
    margin-top: 15px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
    text-align: center;
    margin-left: 31.5px;
    border: none;
    font-size: .8rem;
    border-radius: 10rem;
    padding: 10.2px 116px;
    margin-top: 15px;
}

.h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    width: 87%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.a1 {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
    font-size: 88%;
    font-weight: 500;
    margin-left: 167px;
}

.a2 {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
    font-size: 88%;
    font-weight: 500;
    margin-left: 166px;
}

.h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    width: 87%;
    border-top: 1px solid rgba(0, 0, 0, .1);

}